<div class="text-left back-button mb-4" (click)="back()">
  <mat-icon>keyboard_arrow_left</mat-icon> Back to Login
</div>
<form [formGroup]="forgetForm" (ngSubmit)="forget()" autocomplete="off">
  <mat-form-field class="w-100">
    <input matInput placeholder="Mobile Number" maxlength="10" formControlName="mobile" type="text"
      (keypress)="commonService.restrictOnlyNumeric($event)" required>
    <mat-error *ngIf="f.mobile.errors && f.mobile.errors.required">Mobile number is required</mat-error>
    <mat-error *ngIf="f.mobile.errors && f.mobile.errors.minlength">Min 10 Character</mat-error>
    <mat-error *ngIf="f.mobile.errors && f.mobile.errors.maxlength">Max 10 Character</mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="!forgetForm.valid" color="primary" type="submit"
    class="w-100 mt-2">Proceed</button>
</form>
